@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "MouseMemoirs";
  font-weight: 400;
  src: url("~/assets/fonts/MouseMemoirs-Regular.ttf") format("truetype");
}
